.editor-container {
  a.img {
    width: 80px;
    height: 80px;
    display: inline-block;
  }

  .goods-items {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      position: relative;

      &:not(:last-child) {
        padding-bottom: 10px;
        margin-bottom: 10px;
      }

      &:hover {
        .actions {
          display: inline-block;
        }
      }

      .form {
        .form-group {
          padding: 0;
        }
      }

      .img {
        flex: 0 0 80px;
        margin-right: 10px;
      }

      h4 {
        margin: 0;
      }

      .actions {
        width: auto;
        position: absolute;
        bottom: 10px;
        right: 0;
        display: none;
      }

      .form {
        flex: 1;
      }
    }

    .item:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
}
