* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #aaa;
}

body {
  font-size: 14px;
  color: #777;
}

a {
  color: #2196F3;
}

.text-center {
  text-align: center;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ui-icon-button {
  &.btn-sm {
    width: 30px;
    height: 30px;

    .ui-icon {
      font-size: 20px;
    }
  }
}

input {
  border: 1px solid #ddd;
  padding: 3px 5px;
}

.ui-modal {
  &.ui-modal-mask {
    z-index: 10000;
  }
}

.ui-progress-circular {
  display: inline-block;
}

.drop-element.drop-after-open {
  z-index: 10000;
}

.container ~ .ui-snackbar-container {
  bottom: auto;
  top: 0;
  z-index: 10000;

  .ui-snackbar-toggle-enter,
  .ui-snackbar-toggle-leave {
    transform: translateY(-84px);
  }
}

.drop {
  .drop-content {
    .ui-menu {
      max-height: 500px;
    }
  }
}

.ph-empty-goods {
  color: #aaa;
  text-align: center;
  padding: 10px 0;

  &.dashed {
    border: 1px dashed #ddd;
  }
}

.panel {
  position: relative;

  .title {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    background: #EEEEEE;
    padding: 0 8px;
    border-bottom: 1px solid #E7E8E7;
  }

  .actions {
    right: 0;
    position: absolute;
  }

  .body {
    padding: 5px 8px;
  }
}