.coupons {
  $color-primary: #F2604B;

  .coupon {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0 px2rem(20);
    -webkit-overflow-scrolling: touch;

    .item {
      flex: 1 0 auto;
      margin-right: px2rem(12);
      margin-bottom: 1px;
      padding: px2rem(8) px2rem(8);
      white-space: nowrap;
      color: $color-primary;
      border: 1px solid $color-primary;

      &:last-child {
        margin-right: 0;
      }

      .denominations {
        min-width: px2rem(75);
        @include adapt-font-size(75);
        padding-right: px2rem(10);
        margin-right: px2rem(10);
        border-right: 1px solid #ddd;

        &:before {
          content: '￥';
          @include adapt-font-size(24);
        }
      }

      .desc {
        display: inline-block;

        .condition {
          color: #555;
          margin-bottom: px2rem(15);
          @include adapt-font-size(24);
        }

        ._btn {
          height: px2rem(40);
          line-height: px2rem(40);
          @include adapt-font-size(24);
          padding: 0 px2rem(12);
          color: #fff;
          background: $color-primary;
          border: none;
          border-radius: 30px;
        }
      }
    }
  }
}