/* !!因为移动端,必须使用 rem 单位!! */
/* !!因为移动端,必须使用 rem 单位!! */
/* !!因为移动端,必须使用 rem 单位!! */
/*  TIPS: 最小字体为22,低于在机型显示不一致 */
@import "hotcss";
@import "variable";
@import "functions";
@import "base";
@import "btn";

.module-container {
  margin-bottom: px2rem(20);

  // 热卖单品
  .goods-hot {
    width: px2rem(710);
    margin: 0 auto;

    .img {
      width: px2rem(710);
      height: px2rem(710);
      background: no-repeat center;
      background-size: contain;
    }

    .carousel-indicators {
      bottom: 12%;
    }

    .titles {
      font-size: px2rem(25);
      height: px2rem(55);
      line-height: px2rem(55);
      text-align: center;
      position: relative;
      margin: px2rem(-55) 0 0 0;
      padding: 0 px2rem(20);
      background: rgba(255, 255, 255, 0.7);

      h4 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
      }
    }

    .actions {
      color: #fff;
      height: px2rem(100);
      font-size: px2rem(22);
      background-image: linear-gradient(to bottom, #F72155, #F6134B);
      display: flex;
      align-items: center;
      overflow: hidden;

      .promo-price {
        font-size: px2rem(52);
        margin-right: px2rem(10);
      }

      .price {
        text-decoration: line-through;
        margin-bottom: px2rem(5);
      }

      .sold {
        background: #E31E4E;
        padding: px2rem(5) px2rem(24);
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
        text-align: center;
      }

      .countdown-container {
        width: px2rem(280);
        height: 100%;
        color: $color-primary;
        margin-left: auto;
        padding-left: px2rem(20);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: px2rem(25);
        background-image: linear-gradient(to bottom, #FFF58F, #FFE950);
        position: relative;

        &:before {
          width: 0;
          height: 0;
          content: '';
          border-top: px2rem(50) solid #F72155;
          border-right: px2rem(30) solid transparent;
          border-bottom: px2rem(52) solid #F72155;
          position: absolute;
          top: 0;
          left: 0;
        }

        .active-end {
          font-size: px2rem(35);
        }

        .countdown {
          margin-top: px2rem(5);
          transform: scale(.75);
          margin-left: px2rem(-33);

          &.ready {
            color: $color-muted;
          }

          .milliseconds, .seconds:after, .state {
            display: none;
          }
        }
      }
    }
  }

  // 单列宝贝
  .goods-singe {
    .item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      padding: 0 px2rem(20);
      margin-bottom: px2rem(20);

      .img {
        width: px2rem(205);
        height: px2rem(205);
        flex: 0 0 px2rem(205);
        background: no-repeat center;
        background-size: contain;
        margin-bottom: px2rem(20);
        margin-right: px2rem(20);
      }

      .desc {
        flex: 1;
      }

      .titles {
        margin-bottom: px2rem(20);
        font-size: px2rem(26);

        h4, h5 {
          margin: 0;
          font-weight: normal;
        }

        h4 {
          margin-bottom: px2rem(5);
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          color: $color-default;
          word-break: break-all;
        }

        h5 {
          height: px2rem(28);
          margin-top: px2rem(20);
          color: $color-muted;
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        position: relative;

        .promo-price {
          white-space: nowrap;
          font-size: px2rem(40);
          margin-bottom: px2rem(5);
          color: $color-primary;

          .price {
            font-size: px2rem(20);
            color: #999;
            text-decoration: line-through;
          }
        }

        .sold {
          font-size: px2rem(22);
          color: #666;
        }
      }
    }
  }

  // 双列宝贝
  .goods-two {
    @extend .goods-singe;
    display: flex;
    flex-wrap: wrap;

    .item {
      width: px2rem(340);
      border: none;
      padding: 0;
      flex-direction: column;
      margin: 0 0 px2rem(20) spaceBetween(340, 2);

      .img {
        width: px2rem(340);
        height: px2rem(340);
        flex-basis: px2rem(340);
        margin: 0 0 px2rem(10);
      }

      .titles {
        h4 {
          font-size: px2rem(22);
        }
      }

      .actions {
        .promo-price {
          font-size: px2rem(30);
        }
      }
    }
  }

  // 三列宝贝
  .goods-three {
    @extend .goods-singe;
    display: flex;
    flex-wrap: wrap;

    .item {
      width: px2rem(230);
      padding: 0;
      border: none;
      flex-direction: column;
      margin: 0 0 0 spaceBetween(230, 3);

      .img {
        width: px2rem(230);
        height: px2rem(230);
        flex-basis: px2rem(230);
        margin: 0 0 px2rem(10);
      }

      .desc {
        margin: 0;
      }

      .titles {
        h4 {
          font-size: px2rem(24);
        }
      }

      .actions {
        .promo-price {
          font-size: px2rem(24);
        }
      }
    }
  }
  // 单张海报
  .poster-single {
    text-align: center;

    img {
      width: 100%;
      display: block;
    }
  }

  // 轮播海报
  .poster-many {
    @extend .poster-single;
  }

  // 倒计时
  .countdown {
    white-space: nowrap;
    color: $color-primary;
    text-align: center;

    &.end, &.ready {
      color: $color-muted;

      .num {
        background: $color-muted;
      }
    }

    .state {
      font-size: px2rem(28);
      margin-right: px2rem(5);
    }

    .num {
      font-size: px2rem(30);
      color: #fff;
      margin-right: 1px;
      padding: px2rem(3) px2rem(8);
      border-radius: px2rem(5);
      background: lighten($color-primary, 15);
    }

    .days, .hours, .minutes, .seconds, .milliseconds {
      position: relative;
      display: inline-block;
    }

    .days {
      margin-right: px2rem(25);

      &:after {
        @extend .num;

        position: absolute;
        right: -44%;
        font-size: px2rem(20);
        padding: px2rem(3);
        border-radius: 50%;
        content: '天';
      }
    }

    .hours, .minutes, .seconds {
      margin-right: px2rem(5);

      &:after {

        position: absolute;
        right: -14%;
        content: ':';
      }
    }
  }

}