/* !!因为移动端,必须使用 rem 单位!! */
/* !!因为移动端,必须使用 rem 单位!! */
/* !!因为移动端,必须使用 rem 单位!! */
@import "hotcss";
@import "variable";
@import "functions";
@import "base";
@import "btn";

.module-container {
  margin-bottom: px2rem(20);

  // 热卖单品
  .goods-hot {

  }

  // 单列宝贝
  .goods-singe {
    .item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      padding: 0 px2rem(20);

      .img {
        width: px2rem(205);
        height: px2rem(205);
        flex: 0 0 px2rem(205);
        background: no-repeat center;
        background-size: contain;
        margin-bottom: px2rem(20);
        margin-right: px2rem(20);
      }

      .desc {
        flex: 1;
      }

      .titles {
        margin-bottom: px2rem(20);
        font-size: px2rem(26);

        h4, h5 {
          margin: 0;
          font-weight: normal;
        }

        h4 {
          margin-bottom: px2rem(5);
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          color: $color-default;
          word-break: break-all;
        }

        h5 {
          height: px2rem(28);
          margin-top: px2rem(20);
          color: $color-muted;
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        position: relative;

        .promo-price {
          white-space: nowrap;
          font-size: px2rem(40);
          margin-bottom: px2rem(5);
          color: $color-primary;

          .price {
            font-size: px2rem(20);
            color: #999;
            text-decoration: line-through;
          }
        }

        .sold {
          font-size: px2rem(22);
          color: #666;
        }
      }
    }
  }

  // 双列宝贝
  .goods-two {
    @extend .goods-singe;
    display: flex;
    flex-wrap: wrap;

    .item {
      width: px2rem(340);
      border: none;
      padding: 0;
      flex-direction: column;
      margin: 0 0 px2rem(20) spaceBetween(340, 2);

      .img {
        width: px2rem(340);
        height: px2rem(340);
        flex-basis: px2rem(340);
        margin: 0 0 px2rem(10);
      }

      .titles {
        h4 {
          font-size: px2rem(22);
        }
      }

      .actions {
        .promo-price {
          font-size: px2rem(30);
        }
      }
    }
  }

  // 三列宝贝
  .goods-three {
    @extend .goods-singe;
    display: flex;
    flex-wrap: wrap;

    .item {
      width: px2rem(230);
      padding: 0;
      border: none;
      flex-direction: column;
      margin: 0 0 0 spaceBetween(230, 3);

      .img {
        width: px2rem(230);
        height: px2rem(230);
        flex-basis: px2rem(230);
        margin: 0 0 px2rem(10);
      }

      .desc {
        margin: 0;
      }

      .titles {
        h4 {
          font-size: px2rem(24);
        }
      }

      .actions {
        .promo-price {
          font-size: px2rem(24);
        }
      }
    }
  }

  // 倒计时
  .countdown {
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;

    .state {
      font-size: px2rem(28);
      margin-right: px2rem(5);
    }

    .num {
      font-size: px2rem(30);
      color: #fff;
      margin: px2rem(1);
      padding: px2rem(3) px2rem(8);
      border-radius: px2rem(5);
      background: lighten($color-primary, 15);
    }

    .days {
      &:after {
        @extend .num;
        font-size: px2rem(20);
        border-radius: 50%;
        content: '天';
      }
    }

    .hours, .minutes, .seconds {
      &:after {
        content: ':';
      }
    }
  }

  // 单张海报
  .poster-single {
    text-align: center;

    img {
      width: 100%;
      display: block;
    }
  }

  // 轮播海报
  .poster-many {
    @extend .poster-single;
  }
}