// 主要色调
$color-primary: #f05542;
$color-default: #333;
$color-muted: #999;



.c_color-primary {
  color: $color-primary;
}

.c_color-default {
  color: $color-default;
}

.c_color-muted {
  color: $color-muted;
}